.navbar{
    /* All colours in IT are set using RGB (ie: Red, Green, Blue) values.
       Each value of red, green and blue is a number between 0 and 255.
       Comon colour values are:
       - red:    rgb(255, 0, 0)
       - blue:   rgb(0, 255, 0)
       - green:  rgb(0, 0, 255)
       - yellow: rgb(0, 255, 255)
       - black:  rgb(0, 0, 0)
       - white:  rgb(255, 255, 255)
       The whole spectrum of colours can be represented by any combination
       of RGB values.  To choose a colour you need to know its RGB value.
       To work that out, use MS Paint or Excel to set a colour.  Most software
       comes with colour picking software that will show you the RGB values
       for any colour you pick
    */
    background-color: rgb(145,0,24) !important;
}

/* This sets the colour of the 'Source' link in the navbar */
.navbar .nav-item a{
    color: rgb(255,255,255) !important;
}

/* dropdown-menu manages the right-hand menu (where we access the Playground
   amongst other things) */
.navbar .dropdown-menu{
    /*  the rgba() function works just like rgb in that
        it sets a colour.  But the fourth element sets an
        'alpha' or transaparency value.  Here we are saying
        to set the transparency to 30%
    */
    background-color: rgba(145,0,24,0.3);
}
/* Sets properties for when hovering over a menu item in the 
   drop-down menu */
.dropdown-item:hover{
    background-color: rgba(145,0,24,0.5);
}

/* Sets the appearance for the 'Continue' button... */
.btn-primary{
  color: rgb(255,255,255);
  background-color: rgb(0, 45, 97);
  border-color: rgb(0,0,0);
}
/* ...and when hovering over it */
.btn-primary:hover{
  color: rgb(0,0,0);
  background-color: rgba(151,201,255,0.3);
  border-color: rgb(0,0,0);
}

/* You can make your own styles from scratch if you wish.  There's a lot
  you can do with styles - much more than setting font sizes and colours.
  Here's a brief example.  Feel free to explore this further.  Search online
  or refer to the Mozilla link at the top of this file

.MJFheader{
    /* Set the colour to red */
    color: rgb(255,0,0);
    /* Make the font bigger.  This increases the font size by 20% */
    font-size: 1.2em;
    /* Make it bold */
    font-weight: bolder;
    /* Add a text shadow */
    /* check out text shadows here: https://cssreference.io/property/text-shadow/ */
    text-shadow: 2px 4px 10px tomato;
}
*/